/* Base Element Stlyes*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #E7E247;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

#mainHeader {
    background-color: #E7E247;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

#mainFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: #E7E247;
    text-align: center;
}

#mainTitle,
#searchBar {
    margin-bottom: 1px;
    text-align: center;
}

#searchBar {
    padding-bottom: 15px;
}

#resultsContainer {
    max-width: 80%;
}

#countdownBanner {
    background-color: #48A9A6;
    color: whitesmoke;
    font-size: 1.25rem;
    height: auto;
    text-align: center;
}

#mainTitle,
#subTitle,
#searchBar,
#resultsContainer {
    align-self: center;
}

/* Class gets added to mainHeader when scrolling triggers the sticky function in StickyHeader.js */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + #resultsContainer {
    padding-top: 200px;
}

/* .result, .noResult, and .favorite stylings */
.result,
.favorite {
    background-color: #7161EF;
    color: whitesmoke;
    font-size: 1.25rem;

    padding: 15px;
    border-radius: 5px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    
}

.noResult {
    font-size: 1.75rem;
    color: black;
}

/* Truncates the synopsis to 4 lines... */
.result p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.resultInfo {
    order: 1;
    display: flex;
    flex-direction: column;
}

.result img,
.favorite img {
    object-fit: contain;
    padding-right: 10px;
    
}

/* Button and Input stylings */

#searchButton,
#favoritesBtn {
    box-shadow: 0px 0px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #ff4365 5%, #c97064 100%);
	background-color:#ff4365;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:7px 31px;
	text-decoration:none;
}

#searchButton:hover,
#favoritesBtn:hover {
    background:linear-gradient(to bottom, #c97064 5%, #ff4365 100%);
	background-color:#c97064;
}

#favoritesBtn {
    margin-bottom: 10px;
}

input {
    width: auto;
    height: 30px;
}


/* MEDIA QUERIRES */

@media (min-width: 768px) {
    .result,
    .favorite {
        flex-direction: row;
    }

    input {
        width: 300px;
    }

    #countdownBanner {
        font-size: 1.75rem;
    }

    

}

@media (min-width: 1500px) {
    #resultsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        
    }

    .result,
    .favorite {
        width: 48%;
        max-height: 30%;
    }

    .result img,
    .favorite img {
        object-fit: contain;
        padding-right: 10px;
        align-self: flex-start;
    }
    
}