/* Base Element Stlyes*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #E7E247;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainHeader {
    background-color: #E7E247;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
}

.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    padding-bottom: 25px;
}

#mainTitle {
    margin-bottom: 1px;
}

#mainTitle,
#subTitle,
#searchBar,
#resultsContainer {
    align-self: center;
}

input {
    width: 300px;
}

#resultsList {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

#resultsContainer {
    max-width: 80%;
    padding-top: 150px;
    color: whitesmoke;
}

.result {
    background-color: #7161EF;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: row;

    font-size: 1rem;
}

.resultInfo {
    order: 1;
    display: flex;
    flex-direction: column;
}

.result img {
    object-fit: contain;
    padding-right: 5px;
    max-width: 100%;
    height: auto;
}